aiogram==2.6.1
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
Babel==2.8.0
beautifulsoup4==4.8.2
behave==1.2.6
cachier==1.2.8
certifi==2019.11.28
chardet==3.0.4
Click==7.0
idna==2.8
langdetect==1.0.7
loguru==0.4.0
multidict==4.7.4
packaging==19.2
parse==1.14.0
parse-type==0.5.2
pathtools==0.1.2
plumbum==1.6.8
portalocker==1.5.2
pymongo==3.9.0
pyparsing==2.4.6
pyTelegramBotAPI==3.6.7
python-rex==0.4
pytz==2019.3
requests==2.22.0
six==1.14.0
soupsieve==1.9.5
telegram==0.0.1
updater==0.1.24
urllib3==1.25.8
watchdog==0.10.0
yarl==1.4.2
